<div class="col-lg-6 bounceInDown">
	<table class="table table-bordered table-striped ">
		<tr>
			<td>Name</td>
			<td>{{planet.name}}</td>
		</tr>
		<tr>
			<td>Diameter</td>
			<td>{{planet.diameter}}</td>
		</tr>
		<tr>
			<td>Climate</td>
			<td>{{planet.climate}}</td>
		</tr>
		<tr>
			<td>Terrain</td>
			<td>{{planet.terrain}}</td>
		</tr>
		<tr>
			<td>Resident's Name</td>
			<td>{{planet.name}}</td>
		</tr>
	</table><!--/.table-->
	<a ui-sref="planet" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
</div><!--/.col-lg-6-->
